<ion-card *ngIf="setting">
  <ion-card-header>
    <span>
      {{ translatedSetting.name() | titlecase }}
      <ion-icon *ngIf="compactView" name="information-circle-outline" (click)="presentAlert(translator.translate(setting).name(), translator.translate(setting).description())"></ion-icon>
    </span>
  </ion-card-header>
  <ion-card-content>
    <ion-note *ngIf="!compactView">{{ translatedSetting.description() }}</ion-note>

    <div [ngSwitch]="setting.inputType" *ngIf="isVisible" >
      <ion-item *ngSwitchCase="'number'">
        <ion-label></ion-label>
        <ion-input type='number' [(ngModel)]="setting.value" value={{setting.value}}  (ionChange)="settingChanged()"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'text'">
        <ion-label></ion-label>
        <ion-input type="text" [(ngModel)]="setting.value" value={{setting.value}} (ionChange)="settingChanged()"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'password'">
        <ion-label></ion-label>
        <ion-input type="password" [(ngModel)]="setting.value" value={{setting.value}} (ionChange)="settingChanged()"></ion-input>
      </ion-item>

      <ion-item *ngSwitchCase="'single choice'">
        <ion-label></ion-label>
        <!--    if values are boolean show as toggle    -->
        <ion-toggle *ngIf="typeOf(setting.defaultValue) === 'boolean'" [(ngModel)]="setting.value" (ionChange)="settingChanged()"></ion-toggle>
        <!--    else show select input    -->
        <ion-select *ngIf="typeOf(setting.defaultValue) !== 'boolean'" interface="popover" [(ngModel)]="setting.value" (ionChange)="settingChanged()">
          <ion-select-option *ngFor="let val of setting.values, index as i" [value]="val">
            <div *ngIf="typeOf(val) !== 'number'">{{ translatedSetting.values()[i] | titlecase }}</div>
            <div *ngIf="typeOf(val) === 'number'">{{ val }}</div>
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngSwitchCase="'multiple choice'">
        <ion-label></ion-label>
        <ion-select [(ngModel)]="setting.value" multiple="true" (ionChange)="settingChanged()">
          <ion-select-option *ngFor="let val of setting.values, index as i" [value]="val">
            <div *ngIf="typeOf(val) !== 'number'">{{ translatedSetting.values()[i] }}</div>
            <div *ngIf="typeOf(val) === 'number'">{{ val }}</div>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>
