::ng-depp ion-toolbar{
    height: 500px;
    width: 500px;
}

::ng-deep ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    
  }
  /*
   ::ng-deep ion-card, .card-ion, .card-md,.card{
    border: none !important;
    border-style: none !important;
}

*/
ion-card:hover{

}
ul{
  list-style-type: none;
  padding-left:0;
}
li{
  padding-left: 20px;
  display: inline-block;
  margin-top: 6px;
  margin-left: 6px;
}

::ng-deep .ionGridDetail{
    overflow-y: scroll;
    margin-left: 0%;
    margin-right: 0%;
}
::ng-deep ion-card-title{
    overflow-wrap: break-word;
     width: 70%; 

    }
::ng-deep ion-row{
  margin-bottom: 8px;
}    
::ng-deep h4{
  padding-top: 6px;
}

