<ion-grid class="ionGridDetail">
  <ion-row>
    <ion-toolbar>
    <ion-buttons slot="end">
      <button ion-button icon-only color='black' (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="ion-text-center">Details</ion-title>
  </ion-toolbar></ion-row>
  <ion-row><ion-card><ion-card-header>
    <ion-card-title *ngIf="name">
    {{name}}
  </ion-card-title>
<ion-card-subtitle *ngIf="author">
  Author: {{author}}
</ion-card-subtitle>
<ion-card-subtitle *ngIf="sourceOrganization">Source Organization: {{sourceOrganization}} </ion-card-subtitle>
<ion-card-subtitle *ngIf="bookEdition">Book Edition: {{bookEdition}} </ion-card-subtitle>
<ion-card-subtitle *ngIf="isPartOfName">Is Part Of Name:{{isPartOfName}}</ion-card-subtitle>
<ion-card-subtitle *ngIf="isPartOfType">Is Part Of Type:{{isPartOfType}}</ion-card-subtitle>
<ion-card-subtitle *ngIf="isPartOfVolumNumber">Is Part Of Volum:{{isPartOfVolumNumber}}</ion-card-subtitle>
<ion-card-subtitle>
 
<!--<ion-icon *ngIf="publishedByName" name="at-outline">  </ion-icon> &nbsp; {{publishedByName}} <ion-icon *ngIf="publishedByLocation" name="earth-outline">  </ion-icon> &nbsp; {{publishedByLocation}} <ion-icon *ngIf="startDate" name="calendar-outline">  </ion-icon> &nbsp;{{startDate}}-->
 &nbsp; {{publishedByName}}  &nbsp; {{publishedByLocation}}  &nbsp;{{startDate}}
  <ul *ngIf="isbn  && isbn!== undefined">
     <br>
    <li *ngFor="let isbnValue of isbn">  {{isbnValue}}</li>
  </ul>
  <br>
 &nbsp; {{issn}}
</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  
  <div [ngSwitch]="categories">
    <ion-icon *ngSwitchCase="'book'" size="large"  color="primary" name="book"></ion-icon>
    <ion-icon *ngSwitchCase="'ebook'" size="large"  color="primary" name="tablet-portrait"></ion-icon>
    <ion-icon *ngSwitchCase="'electronic'" size="large"  color="primary" name="folder"></ion-icon>
    <ion-icon *ngSwitchCase="'journal'" size="large"  color="primary" name="document"></ion-icon>
    <ion-icon *ngSwitchCase="'article'" size="large"  color="primary" name="list"></ion-icon>
    <ion-icon *ngSwitchCase="'eArticle'" size="large"  color="primary" name="grid"></ion-icon>
    <ion-icon *ngSwitchDefault size="large"  color="primary" name="albums"></ion-icon>
      &nbsp; {{categories}} 
  </div>
   
  <h4 *ngIf="description"> &nbsp; {{description}} </h4></ion-card-content></ion-card></ion-row> 
  <ion-row>
</ion-row>
  <ion-row class="hidden"><ion-card>
    <ion-card-header>
      <ion-card-title>
        Libraries Details / Availability 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item  class="ion-activated">
        <ion-icon name="business" slot="start"></ion-icon>
        <ion-label>Goethe University</ion-label>
        <ion-button *ngIf="isAvailable && daiServiceCalled"  shape="round" size="small" color="success">&nbsp;&nbsp;</ion-button>
       <ion-button *ngIf="!isAvailable && daiServiceCalled"  shape="round" size="small" color="danger">&nbsp;&nbsp;</ion-button>
       <ion-spinner *ngIf="!daiServiceCalled" color="primary" name="circles"></ion-spinner>
      
     <!--   <ion-select  (ionChange)="setUniversity($event.target.value)"placeholder="Select University">
          <ion-select-option value="frankfurt">Frankfurt</ion-select-option>
          <ion-select-option value="kassel">Kassel</ion-select-option>
          <ion-select-option value="giessen">Giessen</ion-select-option>
          <ion-select-option value="marburg">Marburg</ion-select-option>
        </ion-select>    -->    
     </ion-item>
     <ion-item *ngIf="sameAs" href="{{sameAs}}"target="_blank" class="ion-activated">
     <ion-icon name="walk" slot="start"></ion-icon>
  <ion-label>Check HDS Website</ion-label>
  </ion-item></ion-card-content></ion-card></ion-row>
</ion-grid>
