<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}</h2>
      <p>
        <ion-icon name="calendar"></ion-icon>
        <span>
          {{item.frequency}}, {{item.dates[0] | amDateFormat:'dddd'}}
          <span>({{item.dates[0] | amDateFormat:'ll'}} - {{item.dates[item.dates.length - 1] | amDateFormat:'ll'}})</span>
      </span>
      </p>
      <ion-note *ngIf="item.event.type === 'academic event'">{{item.event.categories.join(', ')}}</ion-note>
    </ion-col>
    <ion-col width-20 text-right>
      <stapps-offers-in-list *ngIf="item.offers" [offers]="item.offers"></stapps-offers-in-list>
    </ion-col>
  </ion-row>
</ion-grid>
