<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}</h2>
      <p>{{item.description}}</p>
      <p>{{item.categories.join(',')}}</p>
    </ion-col>
    <ion-col width-20 text-right>
      <stapps-offers-in-list *ngIf="item.offers" [offers]="item.offers"></stapps-offers-in-list>
    </ion-col>
  </ion-row>
</ion-grid>
