<stapps-simple-card [title]="'Categories'" [content]="translator.translate(item).categories()">
</stapps-simple-card>
<ion-card *ngIf="item.characteristics">
  <ion-card-header>Characteristics</ion-card-header>
  <ion-card-content *ngFor="let characteristic of translator.translate(item).characteristics()">
    <p>
      <img *ngIf="characteristic.image"
        [src]="characteristic.image" /><span>&nbsp;{{characteristic.name}}</span>&nbsp;&nbsp;
    </p>
  </ion-card-content>
</ion-card>
<stapps-offers-detail *ngIf="item.offers" [offers]="item.offers"></stapps-offers-detail>
<stapps-simple-card *ngIf="item.additives" [title]="'Additives'" [content]="translator.translate(item).additives().join(', ')">
</stapps-simple-card>
<ion-card *ngIf="item.nutrition">
  <ion-card-header>Average Nutrition Information</ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngIf="item.nutrition.calories">
        <ion-col>Calories:</ion-col>
        <ion-col width-20 text-right>
          {{item.nutrition.calories}} kcal
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.nutrition.fatContent">
        <ion-col>Fat content:</ion-col>
        <ion-col width-20 text-right>
          {{item.nutrition.fatContent}} g <span *ngIf="item.nutrition.saturatedFatContent">(saturated:
            {{item.nutrition.saturatedFatContent}} g)</span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.nutrition.carbohydrateContent">
        <ion-col>Carbohydrate content:</ion-col>
        <ion-col width-20 text-right>
          {{item.nutrition.carbohydrateContent}} g
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.nutrition.saltContent">
        <ion-col>Salt content:</ion-col>
        <ion-col width-20 text-right>
          {{item.nutrition.saltContent}} g
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.nutrition.sugarContent">
        <ion-col>Sugar content:</ion-col>
        <ion-col width-20 text-right>
          {{item.nutrition.sugarContent}} g
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.nutrition.proteinContent">
        <ion-col>Protein content:</ion-col>
        <ion-col width-20 text-right>
          {{item.nutrition.proteinContent}} g
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
