<stapps-context></stapps-context>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="context" auto-hide="false">
        <ion-icon name="options"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-searchbar (ngModelChange)="searchStringChanged($event)" [(ngModel)]="queryText"></ion-searchbar>

    <!--<ion-title>List</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content  id="data-list">
  <div *ngIf="items | async as items; else loading">
    <ion-list>
      <stapps-data-list-item [item]="item" *ngFor="let item of items"></stapps-data-list-item>
    </ion-list>
  </div>
  <ng-template #loading>
    <stapps-skeleton-list-item *ngFor="let skeleton of [1, 2, 3, 4, 5]"></stapps-skeleton-list-item>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
