<ion-card>
  <ion-card-header>Address</ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>Street:</ion-col>
        <ion-col width-60 text-right>
          {{address.streetAddress}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Postal code:</ion-col>
        <ion-col width-60 text-right>
          {{address.postalCode}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>City:</ion-col>
        <ion-col width-60 text-right>
          {{address.addressLocality}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="address.addressRegion">
        <ion-col>Region:</ion-col>
        <ion-col width-60 text-right>
          {{address.addressRegion}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Country:</ion-col>
        <ion-col width-60 text-right>
          {{address.addressCountry}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="address.postOfficeBoxNumber">
        <ion-col>Post office box:</ion-col>
        <ion-col width-60 text-right>
          {{address.postOfficeBoxNumber}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
