<ion-card>
  <ion-card-header>Offers</ion-card-header>
  <ion-card-content>
    <div *ngFor="let offer of offers">
      <p *ngIf="offer.inPlace">
        <ion-icon name="pin"></ion-icon>
        <a [routerLink]="['/data-detail', offer.inPlace.uid]">{{offer.inPlace.name}}</a>,&nbsp;
        <span *ngIf="offer.availabilityStarts">
          <ion-icon name="calendar"></ion-icon> {{offer.availabilityStarts | amDateFormat:'ll'}}
        </span>
      </p>
      <ion-grid *ngFor="let group of objectKeys(offer.prices)">
        <ion-row>
          <ion-col>{{group | titlecase}}</ion-col>
          <ion-col width-20 text-right>
            <p> {{offer.prices[group] | currency:'EUR':'symbol':undefined:'de'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>
