<div>
  <h2>{{offers[0].prices.default | currency:'EUR':'symbol':undefined:'de'}}</h2>
  <p *ngIf="offers[0].inPlace">
    <ion-icon name="pin"></ion-icon> {{offers[0].inPlace.name}} <span *ngIf="offers.length > 1">...</span>
  </p>
</div>
