<ion-card *ngIf="origin.type === 'user'">
  <ion-card-header>Origin(user)</ion-card-header>
  <ion-card-content>
    <p>Created: {{origin.created | amDateFormat:'ll'}}</p>
    <p *ngIf="origin.updated">Updated: {{origin.updated | amDateFormat:'ll'}}</p>
    <p *ngIf="origin.modified">Modified: {{origin.modified | amDateFormat:'ll'}}</p>
    <p *ngIf="origin.maintainer">
      Maintainer: <a [routerLink]="['/data-detail', origin.maintainer.uid]">{{origin.maintainer.name}}</a>
    </p>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="origin.type === 'remote'">
  <ion-card-header>Origin(remote)</ion-card-header>
  <ion-card-content>
    <p>Indexed: {{origin.indexed | amDateFormat:'ll'}}</p>
    <p *ngIf="origin.modified">Modified: {{origin.modified | amDateFormat:'ll'}}</p>
    <p *ngIf="origin.maintainer">
      Maintainer: <a [routerLink]="['/data-detail', origin.maintainer.uid]">{{origin.maintainer.name}}</a>
    </p>
    <p *ngIf="origin.responsibleEntity">
      Responsible: <a [routerLink]="['/data-detail', origin.responsibleEntity.uid]">{{origin.responsibleEntity.name}}</a>
    </p>
  </ion-card-content>
</ion-card>
