<ion-card>
  <ion-card-header>{{title}}</ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="isString(content) then text; else list">
    </ng-container>
    <ng-template #text>
      <ng-container *ngIf="isMarkdown; else plainText">
        <markdown [data]="content"></markdown>
      </ng-container>
      <ng-template #plainText>
        <p>{{content}}</p>
      </ng-template>
    </ng-template>
    <ng-template #list>
      <ng-container *ngIf="isThing(content[0]) then thingList; else textList">
      </ng-container>
      <ng-template #thingList>
        <a [routerLink]="['/data-detail', thing.uid]" *ngFor="let thing of content">
          <p>{{thing.name}}</p>
        </a>
      </ng-template>
      <ng-template #textList>
        <p *ngFor="let text of content">{{text}}</p>
      </ng-template>
    </ng-template>
  </ion-card-content>
</ion-card>
