<ion-item>
<ion-thumbnail slot="start">
  <ion-skeleton-text animated></ion-skeleton-text>
</ion-thumbnail>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="name"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
        <ion-note><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
