<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title class="ion-text-center">{{'data.detail.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event.target)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'data.REFRESH_ACTION' | translate}}"
      refreshingText="{{'data.REFRESHING' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="true">
    <ng-container *ngSwitchCase='!item && isDisconnected()'>
      <div class='notFoundContainer'>
        <ion-icon name='no-connection'>
        </ion-icon>
        <ion-label>
          {{ 'data.detail.COULD_NOT_CONNECT' | translate }}
        </ion-label>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="item === null">
      <div class="notFoundContainer">
        <ion-icon name="broken-link">
        </ion-icon>
        <ion-label>
          {{ 'data.detail.NOT_FOUND' | translate }}
        </ion-label>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="!item && item !== null">
      <stapps-skeleton-list-item></stapps-skeleton-list-item>
      <stapps-skeleton-simple-card></stapps-skeleton-simple-card>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <stapps-data-list-item [item]="item"></stapps-data-list-item>
      <stapps-data-detail-content [item]="item"></stapps-data-detail-content>
    </ng-container>
  </div>
</ion-content>
