::ng-deep {
  ion-card-header {
    font-weight: bold;
  }
}

::ng-deep {
  ion-slides.work-locations {
    ion-slide {
      display: block; text-align: left;
    }
  }
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;

  ion-icon {
    font-size: 64px;
  }

  ion-label {
    font-size: x-large;
  }
}
