ion-card-header a {
  color: var(--ion-color-dark-tint);
  text-decoration: none;
     span.icon ion-icon {
       vertical-align: text-top;
       font-size: 60%;
       padding-left: 4px;
     }
}
ion-card ion-thumbnail img {
  width: 100%;
  z-index: 1;
  position: absolute;
}

ion-card ion-thumbnail {
  position: relative;
  background: var(--placeholder-gray);
  width: 100%;
  min-height: 400px;
  align-items: center;
  margin: 0;
  ion-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: block;
  }
}
