<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--TODO: read this from the config (menu item title)-->
    <ion-title>{{'news.title'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event.target)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'data.REFRESH_ACTION' | translate}}"
      refreshingText="{{'data.REFRESHING' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row *ngIf="news.length === 0">
      <ion-col size="12" size-md="6" *ngFor="let skeleton of [1, 2, 3, 4, 5]">
        <stapps-skeleton-news-item></stapps-skeleton-news-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="news.length > 0">
      <ion-col size="12" size-md="6" *ngFor="let item of news">
        <stapps-news-item [item]="item"></stapps-news-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
