<ion-card>
<span *ngIf="item.url; else imageNoUrl">
  <a href="{{item.url}}">
    <ion-thumbnail>
      <img src="{{item.image}}" onerror="this.style.display = 'none'" />
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-thumbnail>
  </a>
</span>
  <ng-template #imageNoUrl>
    <ion-thumbnail>
      <img src="{{item.image}}" onerror="this.style.display = 'none'" />
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-thumbnail>
  </ng-template>
  <ion-card-header>
    <ion-card-subtitle *ngIf="item.datePublished">{{item.datePublished | amDateFormat:'LLL'}}</ion-card-subtitle>
    <ion-card-title>
      <span *ngIf="item.url; else titleNoUrl"><a  href="{{item.url}}"><span class="text">{{item.name}}</span><span class="icon"><ion-icon name="open-outline"></ion-icon></span></a></span>
      <ng-template #titleNoUrl>{{item.name}}</ng-template>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.messageBody}}
  </ion-card-content>
</ion-card>
