<ion-card>
  <ion-card-header>
    <ion-card-subtitle><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></ion-card-subtitle>
    <ion-card-title><ion-skeleton-text animated style="width: 95%"></ion-skeleton-text></ion-card-title>
    <ion-card-title><ion-skeleton-text animated style="width: 65%"></ion-skeleton-text></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><ion-skeleton-text animated style="width: 95%;"></ion-skeleton-text></p>
    <p><ion-skeleton-text animated style="width: 95%;"></ion-skeleton-text></p>
    <p><ion-skeleton-text animated style="width: 55%;"></ion-skeleton-text></p>
  </ion-card-content>
</ion-card>
