<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}</h2>
      <p *ngIf="item.keywords">
        <stapps-long-inline-text [text]="item.keywords.join(', ')" [size]="80"></stapps-long-inline-text>
      </p>
      <ion-note>
        {{item.type}}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-grid>
