<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}} <span *ngIf="item.honorificPrefix">, {{item.honorificPrefix}}</span></h2>
      <p *ngIf="item.telephone || item.email"><span *ngIf="item.telephone">
          <ion-icon name="call"></ion-icon>&nbsp;{{item.telephone}}&nbsp;
        </span><span *ngIf="item.email">
          <ion-icon name="mail"></ion-icon>&nbsp;{{item.email}}
        </span></p>
      <p *ngIf="item.jobTitles">{{item.jobTitles.join(', ') | slice:0:50}}<span *ngIf="item.jobTitles.join(', ').length > 51">...</span></p>
    </ion-col>
  </ion-row>
</ion-grid>
