<ion-card *ngIf="item.workLocations">
  <ion-card-header>
    Contact information
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="item.workLocations.length === 1">
      <p *ngIf="item.workLocations[0].telephone">Tel: <a
          [href]="'tel:' + item.workLocations[0].telephone">{{item.workLocations[0].telephone}}</a>
      </p>
      <p *ngIf="item.workLocations[0].email">Email: <a
          [href]="'mailto:' + item.workLocations[0].email">{{item.workLocations[0].email}}</a></p>
      <p *ngIf="item.workLocations[0].faxNumber">Fax: {{item.workLocations[0].faxNumber}}</p>
      <p *ngIf="item.workLocations[0].url">URL: <a
          [href]="item.workLocations[0].url">{{item.workLocations[0].url}}</a>
      </p>
      <p *ngIf="item.workLocations[0].areaServed">Office: <a
        [routerLink]="[ '/data-detail', item.workLocations[0].areaServed.uid]">{{item.workLocations[0].areaServed.name}}</a>
      </p>
    </ng-container>
    <ion-slides *ngIf="item.workLocations.length > 1" pager="true" class="work-locations">
      <ion-slide *ngFor="let workLocation of item.workLocations">
        <p *ngIf="workLocation.telephone">Tel: <a
            [href]="'tel:' + workLocation.telephone">{{workLocation.telephone}}</a>
        </p>
        <p style="display:block !important" *ngIf="workLocation.email">Email: <a [href]="'mailto:' + workLocation.email">{{workLocation.email}}</a>
        </p>
        <p *ngIf="workLocation.faxNumber">Fax: {{workLocation.faxNumber}}</p>
        <p *ngIf="workLocation.url">URL: <a [href]="workLocation.url">{{workLocation.url}}</a></p>
        <p *ngIf="workLocation.areaServed">Office: <a
            [routerLink]="[ '/data-detail', workLocation.areaServed.uid]">{{workLocation.areaServed.name}}</a>
        </p>
        <!-- Used for making the additional space, so that slide pager doesn't show over the text but under it -->
        <!-- <div class="stapps-slide-bottom"></div> -->
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>
<stapps-simple-card *ngIf="item.jobTitles" [title]="'Positions'" [content]="item.jobTitles"></stapps-simple-card>
