<ion-card *ngIf="item.inPlace">
  <ion-card-header>
    Place
  </ion-card-header>
  <ion-card-content>
    <ion-icon name="pin"></ion-icon> <a [routerLink]="['/data-detail', item.inPlace.uid]">{{item.inPlace.name}}</a>
    <stapps-address-detail *ngIf="item.inPlace.address" [address]="item.inPlace.address"></stapps-address-detail>
  </ion-card-content>
</ion-card>
