<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}</h2>
      <p *ngIf="item.description">
        <stapps-long-inline-text [text]="item.description" [size]="80"></stapps-long-inline-text>
      </p>
      <p *ngIf="item.academicTerm">{{item.academicTerm.name}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
