<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}</h2>
      <p>
        <ion-icon name="calendar"></ion-icon>
        <span>{{item.startDate | amDateFormat: 'll'}} - {{item.endDate | amDateFormat:'ll'}}</span>
      </p>
      <ion-note>{{item.type}}</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>
