<div class="container componentHeight">
<ion-grid id="ionGrid">
    <ion-row>
     
      <ion-searchbar [(ngModel)]="query" name="query" id="query" (keyup.enter)="getCatalog()" placeholder="Search HDS">
      
    </ion-searchbar> </ion-row>    
    <ion-row> <ion-button id="searchBtn" color="dark" size="small" expand="block" (click)="getCatalog()">Search</ion-button></ion-row>
    <ion-row><p>{{query}}</p></ion-row>
    <ion-row><p id="totalNumber"></p></ion-row>
</ion-grid>
<ion-content> 
  
   <ion-list id="ionList">
    <ion-item class="itemContent" *ngFor="let hit of hits">
      <ion-grid >
      <ion-row>
    <!--<ion-button color="light" (click)="presentModal(hit)"></ion-button>-->
      <div [ngSwitch]="hit.categories">
        <ion-icon *ngSwitchCase="'book'" size="large" (click)="presentModal(hit)" title="rabie" color="primary" name="book"></ion-icon>
        <ion-icon *ngSwitchCase="'ebook'" size="large" (click)="presentModal(hit)" color="primary" name="tablet-portrait"></ion-icon>
        <ion-icon *ngSwitchCase="'electronic'" size="large" (click)="presentModal(hit)" color="primary" name="folder"></ion-icon>
        <ion-icon *ngSwitchCase="'journal'" size="large" (click)="presentModal(hit)" color="primary" name="document"></ion-icon>
        <ion-icon *ngSwitchCase="'article'" size="large" (click)="presentModal(hit)" color="primary" name="list"></ion-icon>
        <ion-icon *ngSwitchCase="'eArticle'" size="large" (click)="presentModal(hit)" color="primary" name="grid"></ion-icon>
        <ion-icon *ngSwitchDefault size="large" (click)="presentModal(hit)" color="primary" name="albums"></ion-icon>
      </div>
    <ion-text class="ion-text-justify">&nbsp;{{hit.name}} <br> {{hit.categories}}</ion-text></ion-row>
    </ion-grid></ion-item>        
       
    </ion-list>
    <ion-infinite-scroll  threshold="100px" (ionInfinite)="loadData($event)" >
      <ion-infinite-scroll-content 
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div> 


  
  
    
    
  
