@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
// class hidden for table
.hidden{display: none;}

// remove white space betwwen elements 
*{ box-sizing: border-box;}
body{
    margin: 0%;
}
.componentHeight{
    height: 75%;

}
.componentWidth{
    width: 75%;
}
::ng-deep ion-card, .card-ion, .card-md,.card{
    border: none !important;
    border-style: none !important;
}

::ng-deep ion-text{
    overflow-wrap: break-word;
     width: 90%; 
     margin-left: 5px;
     text-align:start;
     text-indent:-6px;
}

ion-modal {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

::ng-deep .sc-ion-modal-md-h {
    --width: 90%;
    --height: 90%;
      }