<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}</h2>
      <p *ngIf="item.description">{{item.description}}</p>
      <ion-note>{{item.type}}</ion-note>
    </ion-col>
    <ion-col width-20 text-right *ngIf="item.type !== 'building'">
      <span *ngIf="item.inPlace">
        <ion-icon name="pin"></ion-icon> {{item.inPlace.name}}
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
