<!--
  Generated template for the DataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>data</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">

</ion-content>
