<ng-container>
  <div *ngIf="dishes | async as dishes; else loading">
    <ion-segment [(ngModel)]="selectedDay">
      <ion-segment-button *ngFor="let day of dishes | keyvalue" [value]="day.key">
        <ion-label>{{day.key | amParse:'YYYY-MM-DD' | amDateFormat:'dddd, L'}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="selectedDay">
      <div *ngFor="let day of dishes | keyvalue">
        <ion-list *ngSwitchCase="day.key">
          <stapps-data-list-item [item]="dish" *ngFor="let dish of day.value"></stapps-data-list-item>
        </ion-list>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <ion-segment>
      <stapps-skeleton-segment-button *ngFor="let skeleton of [1, 2, 3]"></stapps-skeleton-segment-button>
    </ion-segment>
    <ion-list>
      <stapps-skeleton-list-item *ngFor="let skeleton of [1, 2]"></stapps-skeleton-list-item>
    </ion-list>
  </ng-template>
</ng-container>
