<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">{{item.name}}: {{item.data.name}}</h2>
      <p *ngIf="item.data.description">
        <stapps-long-inline-text [text]="item.data.description" [size]="80"></stapps-long-inline-text>
      </p>
      <ion-note>{{item.type}} ({{item.data.type}})</ion-note>
    </ion-col>
    <ion-col width-20 text-right>
      <stapps-origin-in-list [origin]="item.origin"></stapps-origin-in-list>
    </ion-col>
  </ion-row>
</ion-grid>
