    <ion-list>
      <ion-list-header>
        Sort
      </ion-list-header>
      <ion-item>
        <ion-button (click)="sortItemContent()">
          Catagory
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="sortItemContent()">
          Author
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="sortItemContent()">
          Start Date
        </ion-button>
      </ion-item>
    </ion-list>